@media screen and (max-width: 480px) {
   /*For mobile phones: */ 

    #navbarDropdown{
        font-size: 12px!important;
    }

    #outButton{
        width: 70px!important;
    }

    #logoutButton{
        width: 70px!important;
        color: white!important;
        padding: 0px!important;
    }
        
}

    
.header{
    background-color: #1F363D!important;
    border: solid 1px #1F363D;
    font-family: 'Francois One';
    color: white;
}

.logoConteiner{
    margin: 3%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoAtenea{
    height: auto;
}

.slogan{
    font-size: 3vw;
    margin-top: 20px;
}

#logName{
    font-size: 1.5vw!important;
}

#logoutButton{
    background-color: #70A9A1;
    color: white!important;
    display: flex;
    justify-content: center;    
}

#outButton{
    font-family: 'Francois One';
    text-align: center;
}

.dropdown-item{
    color: white!important;
}


