
.header{
    background-color: #1F363D!important;
    border: solid 2px yellow;
    font-family: 'Francois One';
    color: white;
    
}

.logoConteiner{
    margin: 3%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoAtenea{
    height: auto;
}

.slogan{
    font-size: 3vw;
}