*{
    box-sizing: content-box;

}

footer{
    background-color: #1F363D;
    height: 100%;
    display: flex;
    bottom: 0;
    width: 100%;
    margin-bottom: 0%;
    justify-content: space-between;
    

}

.copyRight{
    color: white;
    justify-items: center;
    display: flex;
    padding: 15px 10px;
    text-align: center;
}

.smTags{
    color: white;
    display: flex;
    margin: 0 10% 0 0;
}
