*{
    font-family: 'Francois One'!important;
}

@media screen and (max-width: 480px) {
    #trimesterHeader{
        font-size: 16px!important;
    }
}

#trimesterHeader{
    color: white;
    background-color: #1F363D;
    font-size: 1.3vw;
    border-radius: 10px;
}

#trimesterBody{
    background-color: #70A9A1;
    border-radius: 10px;
}

#tableBody{
    border: 0;
}

th{
    border: 0!important;    
}

td{
    border: 0!important;   
    background-color: white!important;
    border-radius: 10px!important;
}

#gradesTitle{
    background-color: white;
    border-radius: 10px;
    margin-left: 5%;
}

#spaceRows{
    border: 0;
    margin: 15px!important;
}

#averageContainer{
    display: flex;
    justify-content: center;
}

#averageCard{
    background-color: #70A9A1;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 0;
}

#averageGrade{
    border-radius: 5px;
    background-color: #1F363D;
    color: white;
    margin: 5% 0;
    width: 30%;
    text-align: center;
}

#accordionPanelsStayOpenExample{
    margin: 0% 5% 0% 5%;
}