*{
    font-family: 'Francois One'!important;
}

@media screen and (max-width: 480px) {
    #trimesterHeader{
        font-size: 16px!important;
    }
}

#trimesterHeader{
    color: white;
    background-color: #1F363D;
    font-size: 1.3vw;
    border-radius: 10px;
}

#trimesterBody{
    background-color: #70A9A1;
    border-radius: 10px;
}

#tableBody{
    border: 0;
}

th{
    border: 0!important;    
}

td{
    border: 0!important;   
    background-color: white!important;
    border-radius: 10px!important;
}

#gradesTitle{
    background-color: white;
    border-radius: 10px;
    margin-left: 5%;
}

#spaceRows{
    border: 0;
    margin: 15px!important;
}

#accordionPanelsStayOpenExample{
    margin: 0% 5% 0% 5%;
}