*{
    font-family: 'Francois One'!important;
}

.btn-secondary{
    background-color: #1F363D!important;
    border-color: #1F363D;
    border-radius: 5px;
}

#buttonAdd{
    text-decoration: none !important;
}

.conteiner{
    display: flex;
    justify-content: space-between;
    margin:0 10% 0 10%;
}

.conteiner a{
    color: white;
    
}

#conteinerStudent{
    display: inline-block;
    flex-direction: row !important;
    flex-flow: row wrap;
    justify-content: space-between;
    margin:2% 10% 0 10%;
    border: solid 2px orange;
    
}
.studentInfo{
    text-decoration: none !important;
    background-color: #70A9A1;
    border-color: #70A9A1;
    border-radius: 5px;
    width: 79px;    
}

#studentTag{
    text-decoration: none !important;
}    

h5{
    text-align: right;    
    color: #1F363D;
}

a:not([class]) {
    text-decoration: none;
    color: white !important;
}