body{
    font-family: 'Francois One'!important;
    background-color: #EFFCE6 !important;
}

/*.container{
    margin-top: 5%!important;
    border: solid 2px fuchsia!important;
} */

.salute{
    font-size: 3em!important;
    color: #1F363D!important;
    font-weight: bold!important;
    margin-bottom: 10%!important;
}

.loginCard{
    background-color: #70A9A1;
    border: solid 2px orange;

}